
.main-container {
    background-color: rgb(255, 255, 255);
}

.header {
background-color: black;
}

.text {
    color: black;
    padding: 2em;
    color: rgb(38, 131, 238);
}

.text h1 {
    font-size: 3rem;
    text-align: center;
}

.text p {
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.project-research {
    background-color: rgb(129, 255, 129);
    padding: 2em;
    text-align: center;
    color: black;
    border-radius:  3em 3em 0em 0em;
}

.project-research p {
    font-size: 1.5rem;
}

@media  only screen and (min-width: 768px){
    
    .main-container  h1{
    padding-top: 2em;
    
    }

    .main-container  p {
        font-size: 2rem;
         
     }

}

@media  only screen and (min-width: 1366px){
    .main-container  h1{
    font-size: 6rem;
        
    }
    
    .main-container  p {
        font-size: 4rem;             
    }

    .project-research {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        padding-bottom: 5em;    
    }

    .project-research h2 {
        font-size: 4rem;
    }

    .project-research p {
        font-size: 2rem;
    }

}
